# Dependencies
node_modules/

# CDK
cdk.out/
cdk.context.json
*.d.ts
*.js
!jest.config.js

# Build output
dist/
lib/**/*.js
lib/**/*.d.ts
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment / secrets
.env
.env.*
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Test coverage
coverage/
